
# dependencies
/server/node_modules
/client/node_modules
/client/.pnp
/client/.pnp.js

# testing
/client/coverage

# production
/client/build

# misc
.env

# dependencies
/server/node_modules
/client/node_modules
/client/.pnp
/client/.pnp.js

# testing
/client/coverage

# production
/frontend/build

# misc
/backend/config/config.env
/frontend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

npm-debug.log*
yarn-debug.log*
yarn-error.log*